<header class="header">
    <div class="logo">
        <a href="#"><img src="assets/img/Logo.svg" alt="logo"></a>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">About Me</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Projects</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact Me</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Resume</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Extras</a></li>
        </ul>
    </nav>
</header>
