.footer {
    margin-top: 2rem;

    &__list {
        display: flex;
        margin-bottom: 2rem;
    }

    &__item {

        &:not(:last-of-type){
            margin-right: 1.5rem;
        }
    }

    &__img {
        height: 5rem;
        width: 5rem;
    }
}

.copyright {
    font-size: 1.2rem;
    text-transform: uppercase;
}