<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item">
            <a href="https://www.linkedin.com/in/beatrizstsilva/" target="_blank" class="footer__link">
                <img src="/assets/img/linkedin.svg" alt="Linkedin Link" class="footer__img">
            </a>
        </li>
        <li class="footer__item">
            <a href="https://www.facebook.com/beatriz.silva.948/" target="_blank" class="footer__link">
                <img src="/assets/img/facebook.svg" alt="Facebook Link" class="footer__img">
            </a>
        </li>
        <li class="footer__item">
            <a href="https://www.instagram.com/bea.uxuidesign/" target="_blank" class="footer__link">
            <img src="/assets/img/instagram.svg" alt="Instagram Link" class="footer__img">
        </a>
        </li>
    </ul>
    <p class="copyright">Copyright 2020&copy; Beatriz Silva</p>
</footer>

