.intro {
    font-weight: 700;
    font-size: 2.4rem;

    &__availability {
        display: flex;
        align-items: center;
        margin-bottom: 6rem;

        p {
            padding-left: 2rem;
            text-transform: uppercase;
            color: black;
        }

    }

    &__description {
        font-size: 4rem;
        line-height: 7rem;
        padding-bottom: 2rem;
        border-bottom: solid 1px white;
    }

}

